@model Proje.Northwind.MvcWeb.Models.CategoryListViewModel

<div class="badge bg-dark text-wrap text-white" style="width:100%; margin-bottom:2%">
    <h4>Categories</h4>
</div>
<div class="list-group">
    @foreach (var category in Model.Categories)
        {
            var css = "list-group-item list-group-item-action";
            if (category.CategoryId == Model.CurrentCategory)
            {
                css += " active";
            }
        <a href="/product/index?category=@category.CategoryId" class="@css">@category.CategoryName</a>
    }

</div>

